# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
MaddyV2-App/MaddyV2/.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Arduino / ESP32
*.elf
*.bin
*.map

# Logs
*.log
*_full_output.txt
